.ActiveLinkBorder{
    display: flex;
    top: 0px;
    left: 0.000244140625px;
    width: 375px;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    align-items: center;

}

.ActiveLinkBorder h1{
    top: 17px;
    margin-left: 25px;
    width: 142px;
    height: 37px;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;
}

.OpeningSection{
    top: 170px;
    left: 33px;
    width: 310px;
    height: 213px;
    opacity: 1;
}

.OpeningSection h1{
    text-align: center;
    font: normal normal normal 35px/41px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.OpeningSection h2{
    text-align: center;
    font: normal normal normal 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.OpeningSection #OpenButton{
    top: 316px;
    left: 33px;
    width: 310px;
    height: 67px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    opacity: 1;
}

.OpeningSection h3 #ButtonText{
    text-align: center;
    font: normal normal bold 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: white;
    opacity: 1;
}