html, *{
    box-sizing: border-box;
    margin: 0;
}

html{

    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 80px #00000029;

}

body section, article{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.active-link-border{
    display: flex;
    top: 0px;
    max-width: none;
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    align-items: center;
    justify-content: space-between;


}

.active-link-border ul{
    display: none;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 176px;
    z-index: 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.active-link-border li{
    text-align: left;
    padding-top: 20px;
    font: normal normal bold 11px/15px 'Open Sans';
    color: #A5A5A5;
    letter-spacing: 3.28px;
    list-style-type: none;

}

.active-link-border li:hover{
    color: #000000;
}

.active-link-border h1{
    top: 17px;
    margin-left: 25px;
    text-align: left;
    font: normal normal 300 32px/37px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
    opacity: 1;
}

.drop-down{
    margin-right: 25px;
    width: 5.33%;
    max-width: 30px;
    cursor: pointer;
}

#close{
    display: none;
}

.opening-section{
    display: block;
    margin-top: 100px;
    opacity: 1;

}

.opening-section h1{
    text-align: center;
    font: normal normal normal 35px/41px Raleway;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.opening-section h2{
    display: block;
    text-align: center;
    font: normal normal normal 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    width: 82%;
    margin: 20px auto 0px;
}

.opening-section #OpenButton{

    display: block;
    margin: 28px auto 0px;
    width: 100%;
    max-width: 310px;
    height: 67px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    font: normal normal bold 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: white;
    border: none;
}

img{
    max-width: 100%;
}

.background{
    display: block;
    margin: 43px auto 0px;
    height: 5.7%;
    max-height: 267px;
    
}

.popular{
    display: block;
    margin: 0px auto 0px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 80px #00000029;
    padding-top: 50px;

}

.popular h1{
    text-align: center;
    font: normal normal normal 30px/35px Raleway;
    letter-spacing: 0px;
    color: #000000;
    width: 81%;
    margin: 0px auto 0px;
}

.daily-entries{
    width: 116px;
    height: 140px;
    display: block;
    margin: 25px auto;
}

.daily-entries .ellipse{
    position: absolute;
    display: block;
    margin: -3px 31.56px 0 21.73px;
    background: #FB3B64 0% 0% no-repeat padding-box;
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
}

.daily-entries .person{
    position: relative;
    display: block;
    width: 44px;
    height: 52px;
    margin: 28px 20px 21.89px 52px;
}


.daily-entries h4{
    display: block;
    margin: 21.89px auto 0px;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
}

.daily-entries .entries{
    display: block;
    margin: 19.11px auto 0px;
    font: normal normal normal 17px/20px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;
    white-space: nowrap;

}

.seen-products{
    width: 176px;
    height: 167px;
    display: block;
    margin: 25px auto;
}

.seen-products .ellipse{
    position: absolute;
    display: block;
    margin: -12.5px 57px 0px 56px;
    background: #08A6E4 0% 0% no-repeat padding-box;
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
}

.seen-products .eye{
    display: block;
    position: relative;
    margin: 39.25px 32.78px 25.25px 77.78px;
    width: 65px;
    height: 37px;
}

.seen-products h4{
    display: block;
    margin: 0px, auto;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
}

.seen-products .products{
    display: block;
    margin: 19px auto 0px;
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;

}

.added-posts{
    width: 163px;
    height: 168px;
    display: block;
    margin: -25px auto 0px;
}

.added-posts .ellipse{
    position: absolute;
    display: block;
    margin: -6px 57px 49.62px 50.66px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    width: 62.71px;
    height: 62.71px;
    border-radius: 50%;
}

.added-posts .catalog{
    display: block;
    position: relative;
    margin: 31px 29px 22.94px 82px;
    width: 52px;
    height: 48px;
}

.added-posts h4{
    display: block;
    margin: 0px, auto;
    text-align: center;
    font: normal normal 800 20px/24px Raleway;
    letter-spacing: 5.96px;
    color: #000000;
}

.added-posts .posts{
    display: block;
    margin: 19px auto;
    text-align: center;
    font: normal normal normal 16px/19px Raleway;
    letter-spacing: 0px;
    color: #A5A5A5;

}

.advantages{
    display: block;
    margin: 0px auto;
    padding-top: 41px;
    text-align: center;
    background: #F7F7F7 0% 0% no-repeat padding-box;
}

.advantages .advantage-1{
    position: relative;
    display: block;
    margin: 0px auto 41px;
    width: 84%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.advantage-1 .ellipse{
    position: absolute;
    display: block;
    margin-top: 20px;
    left: 55%;
    z-index: 0;
    background: #FB3B64 0% 0% no-repeat padding-box;
    width: 87px;
    height: 87px;
    border-radius: 42%;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.advantage-1 .macbook{
    position: relative;
    width: 61.14%;
    max-width: 192.76px;
    z-index: 1;
    display: block;
    margin: 37.11px auto 26.96px;
}

.advantage-1 .advantage-title{
    display: block;
    margin: 0px 22px;
    text-align: left;
    font: normal normal normal 30px/35px Raleway;
    letter-spacing: 0px;
    color: #000000;
}

.advantage-1 .advantage-description{
    display: block;
    margin: 42px 22px 30px;
    text-align: left;
    font: normal normal normal 14px/19px 'Open Sans';
    letter-spacing: 0px;
}

.advantages .advantage-2{
    position: relative;
    display: block;
    margin: 0px auto 41px;
    width: 84%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.circle-and-phone{
    position: relative;
    height: 180px;
}
.advantage-2 .ellipse{
    position: absolute;
    left: 50%;
    margin-left: -70px;
    margin-top: 12px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    z-index: 0;
}

.advantage-2 .iphone{
    position: relative;
    left: 50%;
    margin-left: -70px;
    top: 19.01px;
    width: 55.55%;
    max-width: 175px;
    z-index: 1;
    display: block;
}

.advantage-2 .advantage-title{
    display: block;
    margin: 56px auto 0px 22px;
    text-align: left;
    font: normal normal normal 30px/35px Raleway;
    letter-spacing: 0px;
    color: #000000;
}

.advantage-2 .advantage-description{
    display: block;
    margin: 18px 21px 25px;
    text-align: left;
    font: normal normal normal 14px/19px 'Open Sans';
    letter-spacing: 0px;
}

.advantages .advantage-3{
    position: relative;
    display: block;
    margin: 0px auto 0px;
    width: 84%;
    border-radius: 5px;
}

.advantages .title-description-advantage-3{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E9ED;
}

.advantage-3 .advantage-title{
    display: block;
    margin: 30px 22px 0px 22px;
    text-align: left;
    font: normal normal normal 30px/35px Raleway;
    letter-spacing: 0px;
    color: #000000;
}

.advantage-3 .advantage-description{
    display: block;
    margin: 20px 21px 18px;
    text-align: left;
    font: normal normal normal 14px/19px 'Open Sans';
    letter-spacing: 0px;
}

.trumpet-and-background{
    position: relative;
    height: 195px;
}

.green-background{
    position: absolute;
    left: 0%;
    background: #55DFB4 0% 0% no-repeat padding-box;
    width: 100%;
    height: 195px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    z-index: 0;
}

.advantage-3 .trumpet{
    position: absolute;
    left: 33%;
    margin-left: -100px;
    margin-top: 20px;
    z-index: 2;
    width: 100%;
    max-width: 293.75px;
    

}

.pricing{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
}

.pricing-title{
    display: block;
    text-align: center;
    font: normal normal normal 36px/42px Raleway;
    letter-spacing: 0px;
    margin-bottom: 14px;
    padding-top: 53.34px;
}

.pricing .pricing-basic{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    max-width: 78.4%;
}

.pricing .pricing-basic:hover{
    box-shadow: 5px 10px 27px #eb476d3d;
}

.type-and-price{
    display:flex;
    flex-direction: column; 
    align-items: center;

}

.basic{
    display: block;
    margin-left: 17%;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
}

.basic-price{
    display: block;
    margin-top: 60%;
    margin-left: 16%;
    font: normal normal 300 46px/2px 'Open Sans';
    letter-spacing: 0px;
    color: #FB3B64;
}

.basic-benefits{
    display: block;
    list-style-type: none;
    text-align: left;
    font: normal normal normal 14px/44px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 39px;
    padding: 0;
}

.green-checkbox{
    width:11px;
    height:11px;
    margin-right: 10px;
}


.pricing-basic .pricing-button{
    position: absolute;
    display: block;
    margin-top: 288px;
    width: 150px;
    height: 50px;
    background: #EB476E 0% 0% no-repeat padding-box;
    border-radius: 23px;
    font: normal normal bold 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: white;
    border: none;
}

.pricing .pricing-professional{
    margin-top: 54px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #07ACE6;
    border-radius: 18px;
    max-width: 90%;
}

.pricing .pricing-professional:hover{
    box-shadow: 5px 10px 27px #07ACE629;
}

.professional{
    display: block;
    margin-left: 17%;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
}

.professional-price{
    text-align: center;
    display: block;
    margin-top: 35%;
    margin-bottom: 30%;
    margin-left: 16%;
    font: normal normal 300 46px/2px 'Open Sans';
    letter-spacing: 0px;
    color: #07ACE6;
}

.professional-limited{
    text-align: center;
    font: normal normal bold 12px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    margin-left: 17%;
}

.professional-benefits{
    display: block;
    list-style-type: none;
    text-align: left;
    font: normal normal normal 14px/44px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    margin-top: 37px;
    margin-bottom: 37px;
    padding: 0;
}

.pricing-professional .pricing-button{
    position: absolute;
    display: block;
    margin-top: 295px;
    width: 150px;
    height: 50px;
    background: #07ACE6 0% 0% no-repeat padding-box;
    border-radius: 23px;
    font: normal normal bold 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: white;
    border: none;

}

.pricing .pricing-premium{
    margin-top: 54px;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #55DFB4;
    border-radius: 18px;
    max-width: 78.4%;
}

.pricing .pricing-premium:hover{
    box-shadow: 5px 10px 27px #55DFB43d;
}

.premium{
    display: block;
    margin-left: 17%;
    font: normal normal bold 20px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
}

.premium-price{
    display: block;
    text-align: center;
    margin-top: 40%;
    margin-bottom: 35%;
    margin-left: 16%;
    font: normal normal 300 46px/2px 'Open Sans';
    letter-spacing: 0px;
    color: #55DFB4;

}

.premium-limited{
    font: normal normal bold 12px/1px Raleway;
    letter-spacing: 0px;
    color: #13253B;
    margin-left: 15%;
}

.premium-benefits{
    display: block;
    list-style-type: none;
    text-align: left;
    font: normal normal normal 14px/44px 'Open Sans';
    letter-spacing: 0px;
    color: #000000;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 39px;
}

.pricing-premium .pricing-button{
    position: absolute;
    display: block;
    margin-top: 288px;
    width: 150px;
    height: 50px;
    background: #55DFB4 0% 0% no-repeat padding-box;
    border-radius: 23px;
    font: normal normal bold 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: white;
    border: none;
}

.questions{
    display: block;
    text-align: left;
    left: 8%;
}

.questions-title{
    display: block;
    margin-left: 8%;
    margin-top: 77px;
    margin-bottom: 0px;
    font: normal normal normal 40px/47px Raleway;
    letter-spacing: 0px;
    color: #000000;
}

.questions-leave-email{
    margin-top: 5px;
    margin-left: 8%;
    font: normal normal normal 16px/22px 'Open Sans';
    letter-spacing: 0px;
}

.contact{
    display: block;
    margin: 0 auto;
}

.icon-and-mail{
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 8%;
}

.mail-icon{
    width: 7.2%;
}

.mail-address{
    text-decoration: none;
    font: normal normal 600 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: #A5A5A5;
    margin-left: 2%;
}

.icon-and-phone{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 8%;
}

.phone-icon{
    width: 7.2%;
}

.phone-number{
    text-decoration: none;
    font: normal normal 600 16px/22px 'Open Sans';
    letter-spacing: 0px;
    color: #A5A5A5;
    margin-left: 2%;
}

.write-name-and-mail{
    margin-top: 53px;
    width: 83.8%;
    margin-left: 8%;
}

.write-name-and-mail label{
    display: block;
    font: normal normal bold 11px/15px Open Sans;
    letter-spacing: 3.28px;
    color: #08A6E4;
    margin-bottom: 41px;
    
}

.write-name-and-mail input{
    display: block;
    width: 100%;
    margin-bottom: 42px;
    border: none;
    border-bottom: 1px solid #95989A;
    padding: 5px 0;
}

.write-name-and-mail input:focus{
    outline: none;
    border-color: #08A6E4;
}

.mail-conditions-and-check{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.conditions-and-check{
    display: flex;
    flex-direction: row;
    margin-top: 31px;
    justify-content: right; 
}

.blue-check{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 2px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.blue-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.blue-check:hover input ~ .checkmark {
    background-color: #ccc;
}

.blue-check input:checked ~ .checkmark {
    background-color: #08A6E4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.blue-check input:checked ~ .checkmark:after {
    display: block;
}

.blue-check .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.conditions-text{
    font: normal normal normal 12px/17px 'Open Sans';
    letter-spacing: 0px;
    color: #707070;
    width: 73.86%;
    margin-right: 10.13%
}

.send-button{
    display: block;
    margin-top: 21px;
    margin-left: 31%;
    margin-bottom: 44px;
    width: 60.26%;
    max-width: 226px;
    height: 1.2%;
    min-height: 57px;
    font: normal normal bold 13px/18px 'Open Sans';
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #08A6E4 0% 0% no-repeat padding-box;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 35px;
    border: none;
}

.whole-footer{
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px -5px 40px #00000029;
    display: flex;
    flex-direction: row;

}

.bestshop-footer{
    min-height: 30px;
    width: 30.66%;
    height: 6.4%;
    margin-top: 24.48px;
    margin-left: 4.53%;
    font: normal normal 300 26px/30px Raleway;
    letter-spacing: 0px;
    color: #08A6E4;
}

.copyright{
    min-height: 30px;
    width: 100%;
    height: 3.2%;
    margin-left: 4.53%;
    font: normal normal normal 11px/15px 'Open Sans';
    letter-spacing: 0px;
    color: #A5A5A5;
}

.footer-icons{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30%;
}

.twitter{
    min-width: 24px;
    min-height: 24px;
    width: 6.4%;
    height: 0.512%;
    margin-right: 19.73%;
}

.facebook{
    margin-right: 25%;
}


@media only screen and (min-width: 1000px){
    .active-link-border #LogoText{
        margin-left: 8.3%;
    }

    .active-link-border .drop-down{
        display: none;
    }

    .active-link-border ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font: normal normal bold 11px/15px 'Open Sans';
        justify-content: right;
        letter-spacing: 3.28px;
        color: #A5A5A5;
        position: static;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 70px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: none;
    }

    .active-link-border li{
        margin-right: 95px;
        padding-bottom: 25px;
        padding-top: 25px;
    }


    .active-link-border li:hover{
        font: normal normal bold 11px/15px 'Open Sans';
        letter-spacing: 3.28px;
        color: #000000;
        border-bottom: 4px solid #08A6E4;
        padding-bottom: 21px;
        
    }

    .background{
        width: 100%;
        object-fit: cover;
        margin-top: 100px;
    }


    .popular{
        min-width: 100%;
        display: flex;
        flex-direction: column;
        
    }

    .popular-sections{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 20.53%;
        margin-right: 20.53%;   
    }

    .daily-entries, .seen-products, .added-posts{
        margin: 7% auto 10%;
    }

    .daily-entries .ellipse{
        margin-top: 25px;
    }

    .seen-products .ellipse{
        margin-top: 25px;
    }

    .added-posts .ellipse{
        margin-top: 25px;
    }

    .advantages{
        min-width: 100%;
        padding-bottom: 41px;
    }

    .advantage-1, .advantage-2, .advantage-3{
        max-width: 69.12%;
    } 
    
    .advantages .advantage-1{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .advantage-1 .ellipse{
        margin: 0;
        left: 80.5%;
        bottom: 43%;
        width: 13.07%;
        height: 32%;
        border-radius: 22%;
    }

    .advantage-1 .macbook{
        display: block;
        max-width: 32.76%;
        margin-right: 7.23%;
        margin-top: 7%;
        margin-bottom: 0;
    }

    .title-description-advantage-1{
        margin: 8% auto 5%;
        margin-left: 2.22%;

    }

    .title-description-advantage-1 .advantage-description{
        margin-right: 25%;
        border-bottom: 4px solid #FB3B64;
        padding-bottom: 40px; 

    }
    
    .advantages .advantage-2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .advantage-2 .ellipse{
        top: 5%;
        left: 5%;
        margin: 0;
        width: 300px;
        height: 300px;

    }

    .advantage-2 .iphone{
        left: 0px;
        margin: 0 15%;
        top: 0px;
        max-width: none;
        width: 100%;
        
    }

    .title-description-advantage-2{
        width: 45%;
        margin: 8% auto;
        margin-right: 2.22%;
    }

    .advantage-2 .advantage-title{
        margin: 0 40% 10% 5%;
    }

    .advantage-2 .advantage-description{
        margin: 0 8% 0 5%;
        border-bottom: 4px solid #08A6E4;
        padding-bottom: 10%;
    }
    

    .advantages .advantage-3{
        display: flex;

        flex-direction: row;
    
    }

    .advantage-3 .title-description-advantage-3{
        display: block;
        margin-right: 50px;
        width: 58%;
        height: 350px;

    }

    .title-description-advantage-3 .advantage-title{
        margin: 12% 8% 10%;
    }

    .title-description-advantage-3 .advantage-description{
        border-bottom: 4px solid #55DFB4;
        padding-bottom: 35px;
        margin-bottom: 10%;
        margin-left: 8%;
        margin-right: 8%;

    }

    .trumpet-and-background{
        flex: 1;

    }

    .trumpet-and-background .trumpet{
        width: 100%;
        top: 50%;
    }

    .trumpet-and-background .green-background{
        height: 350px;
    }


    .pricing-title{
        padding-top: 100px;
    }
    .pricing{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        max-width: 100%;
    }

    .pricing .pricing-basic{
        display: block;
        margin: 0px 20px 0 5px;
        height: 461px;
        width: 372px;
        transition: width .3s, height .3s;
    }

    .pricing .pricing-basic:hover{
        display: block;
        margin: 0px 20px 0 0;
        height: 500px;
        width: 405px;
    }

    .pricing-basic .basic{
        margin: 40px auto;
    }

    .pricing-basic .basic-price{
        margin: 20px auto;
    }

    .pricing-basic .basic-benefits{
        margin: 69px auto;
        text-align: center;
    }

    .pricing-basic .pricing-button{
        margin-top: 0;
        margin-left: -69px;
        margin-bottom: -28px;
        bottom: 0;
        left: 50%;
        

    }

    .pricing .pricing-professional{
        display: block;
        margin: 0px 20px 0 5px;
        height: 461px;
        width: 372px;
        transition: width .3s, height .3s;
    }

    .pricing .pricing-professional:hover{
        display: block;
        margin: 0px 20px 0 0;
        height: 500px;
        width: 405px;
    }

    .pricing-professional .professional{
        margin: 40px auto 0px;
    }

    .pricing-professional .professional-price{
        margin: 50px auto 0px;

    }

    .pricing-professional .professional-limited{
        margin: 50px auto 0px;
    }

    .pricing-professional .professional-benefits{
        margin: 53px auto 0px;
        text-align: center;
    }

    .pricing-professional .pricing-button{
        margin-top: 0;
        margin-left: -69px;
        margin-bottom: -28px;
        bottom: 0;
        left: 50%;
    }

    .pricing .pricing-premium{
        display: block;
        margin: 0px 5px 0 0;
        height: 461px;
        width: 372px;
        transition: width .3s, height .3s;
    }

    .pricing .pricing-premium:hover{
        display: block;
        margin: 0px 20px 0 0;
        height: 500px;
        width: 405px;
    }

    .pricing-premium .premium{
        margin: 40px auto;
    }

    .pricing-premium .premium-price{
        margin: 10px auto;
    }

    .pricing-premium .premium-limited{
        margin: 40px auto 0px;
    }

    .pricing-premium .premium-benefits{
        margin: 40px auto;
        text-align: center;
    }

    .pricing-premium .pricing-button{
        margin-top: 0;
        margin-left: -69px;
        margin-bottom: -28px;
        bottom: 0;
        left: 50%;
    }

    .fullscreen-questions{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        margin-top: 155px;
    }


    .questions-title{
        margin-left: 22.44%;
        margin-top: 0;
    }

    .questions-leave-email{
        margin-left: 22.44%;
        margin-top: 22px;
    }

    .contact{
        display: flex;
        flex-direction: row;
    }

    .icon-and-mail{
        margin-left: 22.44%;
        margin-top: 42px;
    }

    .mail-icon{
        width: 24px;
        height: 24px;
    }

    .icon-and-phone{
        margin-left: 20px;
        margin-top: 42px;
    }

    .phone-icon{
        width: 24px;
        height: 24px;
    }

    .phone-number{
        margin-left: 0;
    }



    .write-name-and-mail{
        margin-top: 0;
    }

    .send-button{
        margin-left: 50%;
    }


    .twitter{
        margin-right: 5%;
    }

    .facebook{
        margin-right: 8.3%;
    }

}